.contenedor-principal{
  display: grid;
  grid-template-areas:
    'nav'
    'body'
    'footer';
}

.contenedor-navegacion{
  grid-area: nav;
}

.contenedor-rutas{
  grid-area: body;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.mapboxgl-control-container {
  display: none;

}
div{
  height: 40em;
  display: flex;
  justify-content: center;
  margin-left: 4em;
  width: 80em
}
.ejemplo{
  display: grid;
  text-align: center;
}
.contenedor-footer{
  grid-area: footer;
}
