.contenedor-principal{
  display: grid;
  grid-template-areas:
    'nav'
    'body'
    'footer';
}

.contenedor-navegacion{
  grid-area: nav;
}

.contenedor-rutas{
  grid-area: body;
}

.contenedor-footer{
  grid-area: footer;
   /* Posicionar abajo */
   position: absolute;
   bottom: 0;
   /* Ocupar todo el ancho disponible */
   width: 100%;
   min-height: 8vh;
   /* Solo para probar cómo se ve */
   background: #ccc;
}