.mapc{
  height: calc(100vh - 113.6px);
  display: flex;
}

.panel{
  display: flex;
  flex-direction: column;
  background-color: #ccc;
}

.formulario {
  overflow-y: auto;
  max-height: 66%;
  height: auto;
  grid-area: form;
  padding: 10px;
  width: 92%;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: gainsboro;
}
.pareja{
  display: flex;
}

.filtro{
  overflow-y: auto;
  max-height: 34%;
  width: auto;
  background-color: #ccc;
}
.map{
  width: 100%;
  height: auto;
}
  
  label {
    display: block;
  }

  
  input,
  select,
  textarea {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
  }

  .mapaAmigos{
    height: calc(100vh - 113.6px);
  }