.navbar{
    display: flex;
    justify-content: space-between;
    background-color: #222;
    padding: 20px;
    color: #ffffff;
    
}

.list{
    display: flex;
    list-style: none;
    align-items: center;
    float: right;
}

.nav_con_login{
    display: flex;
    list-style: none;
    align-items: center;
    float: right;
}

.nav_sin_login{
    display: flex;
    list-style: none;
    align-items: center;
    float: right;
}

.item {
    display: inline-block;
    margin-right: 10px;
    border: 1px solid #ffffff;
    padding: 0.5em; /* Elimina el relleno */
    background-color: #130594; /* Establece el color de fondo */
    box-sizing: border-box;
  }
  
  .item:hover {
    background-color: #ffffff;
  }
.item a{
    color: #ffffff;
}

.item:hover a {
    color: #4000ff;
}


.imagen{
    width: 50px;
    height: 50px;
    float: left;
}